.card{
    height: 250px;
    width: 300px;
    background-color: rgb(58, 58, 164);
    border: 2px solid rgb(187, 162, 162);
    padding: 24px;
    /* flex: 0 0 auto;  */
    flex-shrink: 0;
    position: relative;
}


.card h3{
    margin-top: 60px;
}

.card p{
    margin-top: 10px;
}

@media screen and (min-width:800px) {
    .card{
        width: calc( (100% - 60px) / 3 );
    }
}

